*{	margin: 0;
	padding: 0;
}
.wrap{
	/*width: 980px;*/
	width: 100%;
	margin: 0 auto;
	background: #DFE3E4;
}
header {
	width: 100%;
	height: 80px;
	background: #812885;
}
#logo {
	float: left;
	height: 80px;
	width: 260px;
}
#logo img{
	width: 100px;
	height: 30px;
	margin-top: 40px;
	margin-left: 80px;
}
/*logo结束*/
.nav {
	width: 360px;
	height: 30px;
	float: right;
	margin-top: 45px;
}
 
.nav ul {
	height: 30px;
	width: 230px;
	line-height: 30px;
}
 
.nav li{
	list-style: none;
	float: left;
	padding-left: 28px;
}
.nav ul li a{
	font-size: 14px;
	font-family: "宋体";
	text-decoration: none;
	color: #fff;
}
#gitIcon {
	position: absolute;
	right: 10px;
	top: 46px;
}
/*header结束*/
/*.class{
	width: 100%;
	margin: 0 auto;
}*/
/*#banner{
	width: 100%;
	height: 540px;
}
#banner img {
	height: 540px;
	width: 100%;
}*/
#banner{
	width: 100%;
	height: 460px;
	background: url(../img/banner-bg.jpg) no-repeat;
	position: relative;
}
#bannerText {
	width: 400px;
	height: 100px;
	padding: 10px 10px 30px;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.7),
    			rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0));

	position: absolute;
	bottom: 0;
	right: 40px;
}
#bannerText h1{
	text-align: right;
	font-size: 14px;
	margin-bottom: 12px;
}
#bannerText p{
	line-height: 150%;
	text-indent: 2em;
	font-size: 12px;
}
.clear:after {content:""; display:block;clear:both; }
.clear { zoom:1; }
#intro {
	margin: 0 auto;
	width: 1000px;
}
.introCont{
	width: 300px;
	background: #fff;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	/*margin: 0 auto;*/
}
.introCont img{
	width: 300px;
	height: 180px;
	margin-bottom: 15px;
}
.introCont p{
	font-size: 12px;
	line-height: 170%;
	padding: 0 30px;
	padding-top: 25px;
}
#selfIntro{
	width: 100%;
	/*height: 500px;*/
}
.circle {
	width: 180px;
	margin: 0 auto;
	margin-bottom: -160px;
}
.circle img{
	width: 160px;
	height: 160px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	margin: 50px 0;
}
.selfCont{
	padding-top: 160px;
	/*width: 600px;*/
	margin: 0 auto;
	background: #fff;
}
.selfCont p {
	font-size: 14px;
	color: #000;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 60px;
}
.selfCont h1{
	font-size: 20px;
	color: #000;
	font-family: "Century Gothic";
	margin-bottom: 20px;
	text-align: center;
}
.selfCont p{
	font-size: 14px;
	color: #000;
}
/*content结束*/
footer{
	width: 100%;
	background: #000;
}
#listBottom {
	width: 360px;
	margin: 0 auto;
	padding: 10px 0;
    width: 260px;
    height: 30px;
    margin: 0 10px;
    padding: 10px 0;
    float: left;
    margin-left: 500px;
}
hr{
	width: 100%;
	color: #567;
}
#listCon {
	overflow: hidden;
}
.fenList {
	color: #FFF;
	font-size: 14px;
	line-height: 200%;
	/*width: 200px;*/
	text-align: center;
	width: 200px;
	margin: 30px;
	float: left;
}
.fenList h2{
	font-size: 20px;
}
.fenList li{
	list-style: none;
}
div#contant {
    width: 120px;
    margin: 0 auto;
    text-align: center;
}
.contant {
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: relative;
}
#contant p {
	color: #FFF;
	margin-bottom: 20px;

}
/*index.html结束*/

/*blog.html开始*/
#cont_left{
	width: 640px;
	/*background: #fff;*/
	margin-left: 160px;
}
.content{
	position: relative;
	padding-bottom: 20px;
}
aside {
	width: 48px;
	height: 70px;
	position: absolute;
	padding-left: 112px;
}
#a1 {
	top: 40px;
	/*left: 112px;*/
}
#a2{
	top: 400px;
	/*left: 112px;*/
}
#a3 {
	top: 750px;
	/*left: 112px;*/
}
aside .asiCon{
	background-color: rgba(143, 27, 148, 1);
	text-align: center;
	line-height: 35px;
	height: 35px;
}
aside #bottom{
	background-color: rgba(143, 27, 148, 0.5);
}
article {
	padding: 14px;
	margin-bottom: 20px;
	background: #fff;
}
article h1{;
	font-size: 20px;
	color: #812422;

}
article h2{
	padding: 10px 0;
	font-size: 16px;
	color: #666;
}
article h3{
	padding-top: 10px;
	font-size: 16px;
	color: #777;
	margin-left: 300px;
}
article p{
	color: #000;
	font-size: 14px;
	line-height: 150%;
}
#page ul {
	margin: 0 auto;
	overflow: hidden;
	width: 610px;
}
#page ul li {
	list-style: none;
	float: left;
	/*width: 48px;
	height: 50px;
	line-height: 50px;*/
	/*padding: 15px;*/
	text-align: center;
	margin-right: 10px;
	background: #FFF;
}
#page ul li a{
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: 15px;
}
.active{
	background:   rgba(143, 27, 148, 1);
}
#cont_right {
	width: 240px;
	position: absolute;
	right: 280px;
	top: 0;
	/*background: #FFF;*/
}
.search {
	height: 60px;
	background: #FFF;
	line-height: 60px;
	padding-left: 20px;
}
.search input{
	height: 30px;
}
input[type="button"] {
    width: 40px;
    border: none;
    height: 34px;
    margin-left: -10px;
}
#skills ul{
	width: 240px;
	/*height: 400px;*/
	line-height: 300%;
	background: #fff;
	margin-top: 30px;
}
#skills ul li {
	list-style: none;
}
#skills ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	border: 1px solid #CEB4CF;
	margin-top: -1px;
	padding-left: 20px;
	border-right: 0;
	border-left: 5px solid #BE3FC3;
}
#skills ul li a:hover{
	border-left: 5px solid #BEFFCC;
}
#date {
	width: 240px;
	background: #FFF;
	text-align: center;
	padding: 15px 0;
	margin-top: 30px;
}
#date table{
	border-collapse: collapse;
	margin: 0 auto;
}
#date  table span{
	color: #DD3BA3;
}
#date table td{
	padding: 10px;
}
#date table tr {
	border-bottom: 1px solid #D8C9DB;
}
#tags{
	margin-top: 30px;
	width: 230px;
	background: #fff;
	line-height: 200%;
	padding-left: 10px;
	color: #921465;
	padding-bottom: 30px;
}
#tags h3 {
	color: #47473E;
}
#tags span {
	font-weight: bold;
	font-size: 130%;
	color: #921465;
}
/*blog.html结束*/
/*gallery.html开始*/
#con_left{
	margin-top: 20px;
	margin-left: 100px;
}
#tab {
    background: #fff;
    overflow: hidden;
    width: 706px;
}
#tab ul{
	float: left;
}
#tab ul li{
	list-style: none;
	padding: 15px 20px 20px;
	float: left;
	border: 1px solid #eee;
	border-top: 3px solid #7643a5;
	color: #777;
}
#box {
    background: #FFF;
    overflow: hidden;
    height: 720px;
    width: 810px;
}
#box .box{
	/*float: left;*/
	padding: 10px 0 0 10px;
}
.box_left,.box_right{
	float: left;
}
#box img{
	display: block;
}
.box h2 {
    color: #fff;
    font-size: 14px;
    width: 100px;
    margin-left: 52px;
}
.box p{
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	/*width: 100px;*/
    margin-left: 52px;
}
.box_left,.box_right{
	width: 400px;
}
.box_leftPic1 img{
	width: 390px;
}
.box_leftPic1_cont{
	width: 350px;
	padding: 10px 20px;
	background:#662167;
}
/*.box_leftPic2{
	width: 190px;
	float: left;
}*/

.box_leftPic2_cont,.box_rightPic2_cont,
.box_rightPic5_cont{
	width: 150px;
	padding: 10px 20px;
	background:#D8AF19;
}
.box_leftPic2,.box_leftPic3{
	width: 190px;
	float: left;
}
.box_leftPic2 img,.box_leftPic3 img,
.box_leftPic4 img,.box_leftPic5 img,
.box_rightPic1 img,.box_rightPic2 img,
.box_rightPic3 img,.box_rightPic4 img,
.box_rightPic5 img{
	width: 190px;
}
/*.box_leftPic3 img{
	width: 190px;
}*/
.box_leftPic3_cont,.box_rightPic3_cont{
	width: 150px;
	padding: 10px 20px;
	background:#88230C;
}
.box_leftPic4,.box_leftPic5,
.box_rightPic1,.box_rightPic2,
.box_rightPic3,.box_rightPic4,
.box_rightPic5{
	width: 190px;
	float: left;
}
.box.box_leftPic5 {
    position: absolute;
    top: 540px;
}
.box_leftPic4_cont,.box_rightPic4_cont{
	width: 150px;
	padding: 10px 20px;
	background: #8E1084;
}
.box_leftPic5_cont,.box_rightPic1_cont
{
	width: 150px;
	padding: 10px 20px;
	background:#662167;
}
.box.box_rightPic3 {
    position: absolute;
    top: 266px;
}
.box.box_rightPic4 {
    position: absolute;
    top: 480px;
}
.box.box_rightPic5 {
    position: absolute;
    left: 700px;
    top: 295px;
}
span.icon{
    padding: 5px;
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 16px;
    color: #fff;
    text-align: center;
    margin-right: 20px;
}
#con_left #more {
    width: 130px;
    padding: 15px 340px;
    background: #fff;
    color: #000;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
#con_left #more p{
	float: right;
}
/*cont_left结束*/
/*cont_right开始*/
#con_right {
    width: 240px;
    position: absolute;
    left: 920px;
    top: 57px;
}
#rank{
	padding: 20px 10px;
	background: #fff;
	margin-top: 10px;
}
#rank p{
	font-size: 14px;
	color: #777;
}
.rank_cont{
	padding-top: 10px;
}
#rank ul li{
	list-style: none;
	padding-bottom: 10px;
}
.rank_cont .num {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #360E86;
    display: block;
    float: left;
    color: #fff;
    text-align: center;
}
.rank_contList {
    width: 100px;
    height: 20px;
    /*background-color: #444;*/
    float: left;
    margin: 0 10px;
}
.rank_cont1_1{
	width: 100px;
	height: 20px;
	background: #360E86;
	float: left;
}
.rank_cont1_2{
	width: 0;
	height: 20px;
	background: #eee;
}
.rank_cont2_1{
	width: 75px;
	height: 20px;
	background: #360E86;
	float: left;
}
.rank_cont2_2{
	width: 25px;
	height: 20px;
	background: #eee;
	float: left;
}
.rank_cont3_1{
	width: 60px;
	height: 20px;
	background: #360E86;
	float: left;
}
.rank_cont3_2{
	width: 40px;
	height: 20px;
	background: #eee;
	float: left;
}
.rank_cont4_1{
	width: 50px;
	height: 20px;
	background: #360E86;
	float: left;
}
.rank_cont4_2{
	width: 50px;
	height: 20px;
	background: #eee;
	float: left;
}
.rank_cont5_1{
	width: 30px;
	height: 20px;
	background: #360E86;
	float: left;
}
.rank_cont5_2{
	width: 70px;
	height: 20px;
	background: #eee;
	float: left;
}
/*gallery结束*/

/*about开始*/
.cont_center{
	width: 980px;
	background: #FFF;
	margin: 0 auto;
	margin-top: 120px;
}
.intro img {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    top: 20px;
    margin-top: -80px;
    border: 10px solid #DFE3E4;
    border-radius: 90px;
    display: block;
}
.intro h1,.cant h1,.edu h1,.job h1{
	font-size: 20px;
	margin-left: 240px;
	color: #000;
	float: left;
}
.intro p,.cant p,.edu p,.job p{
	font-size: 14px;
	margin-left: 540px;
	color: #000;
	padding-right: 90px;
}
.cant img,.edu img,.job img {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    /*top: 20px;*/
    /*margin-top: -80px;*/
    /*border: 10px solid #DFE3E4;*/
    border-radius: 60px;
    display: block;
}
.year{
	margin-top: -250px;
	/*margin: 0 auto;*/
}
.year .year_cont{
	border: 5px solid #DFE3E4;
	width: 40px;
	height: 20px;
	border-radius: 5px;
	display: block;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.year .line{
	margin: 0 auto;
	width: 5px;
	height: 50px;
	background: #DFE3E4;
	display: block;
}
.year_bottom {
    margin-top: -225px;
}
.job{
	padding: 0;
}
.line_top, .line_bottom {
    margin: 0 auto;
    width: 5px;
    height: 160px;
    background: #DFE3E4;
    display: block;
    margin-top: -160px;
}
.edu p,.job p{
	padding-top: 50px;
}


