*{	margin: 0;
	padding: 0;
}
.wrap{
	/*width: 980px;*/
	width: 100%;
	margin: 0 auto;
	background: #DFE3E4;
}
header {
	width: 100%;
	height: 80px;
	background: #812885;
}
#logo {
	float: left;
	height: 80px;
	width: 260px;
}
#logo img{
	width: 100px;
	height: 30px;
	margin-top: 40px;
	margin-left: 80px;
}
/*logo结束*/
.nav {
	width: 360px;
	height: 30px;
	float: right;
	margin-top: 45px;
}
 
.nav ul {
	height: 30px;
	width: 230px;
	line-height: 30px;
}
 
.nav li{
	list-style: none;
	float: left;
	padding-left: 28px;
}
.nav ul li a{
	font-size: 14px;
	font-family: "宋体";
	text-decoration: none;
	color: #fff;
}
#gitIcon {
	position: absolute;
	right: 10px;
	top: 46px;
}
/*header结束*/
/*.class{
	width: 100%;
	margin: 0 auto;
}*/
/*#banner{
	width: 100%;
	height: 540px;
}
#banner img {
	height: 540px;
	width: 100%;
}*/
#banner{
	width: 100%;
	height: 460px;
	background: url(../img/banner-bg.jpg) no-repeat;
	position: relative;
}
#bannerText {
	width: 400px;
	height: 100px;
	padding: 10px 10px 30px;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0.7),
    			rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0));

	position: absolute;
	bottom: 0;
	right: 40px;
}
#bannerText h1{
	text-align: right;
	font-size: 14px;
	margin-bottom: 12px;
}
#bannerText p{
	line-height: 150%;
	text-indent: 2em;
	font-size: 12px;
}
.clear:after {content:""; display:block;clear:both; }
.clear { zoom:1; }
#intro {
	margin: 0 auto;
	width: 1000px;
}
.introCont{
	width: 300px;
	background: #fff;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	/*margin: 0 auto;*/
}
.introCont img{
	width: 300px;
	height: 180px;
	margin-bottom: 15px;
}
.introCont p{
	font-size: 12px;
	line-height: 170%;
	padding: 0 30px;
	padding-top: 25px;
}
#selfIntro{
	width: 100%;
	/*height: 500px;*/
}
.circle {
	width: 180px;
	margin: 0 auto;
	margin-bottom: -160px;
}
.circle img{
	width: 160px;
	height: 160px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	margin: 50px 0;
}
.selfCont{
	padding-top: 160px;
	/*width: 600px;*/
	margin: 0 auto;
	background: #fff;
}
.selfCont p {
	font-size: 14px;
	color: #000;
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 60px;
}
.selfCont h1{
	font-size: 20px;
	color: #000;
	font-family: "Century Gothic";
	margin-bottom: 20px;
	text-align: center;
}
.selfCont p{
	font-size: 14px;
	color: #000;
}
/*content结束*/
footer{
	width: 100%;
	background: #000;
}
#listBottom {
	width: 360px;
	height: 30px;
	/*float: right;*/
	margin-top: 45px;
	margin: 0 auto;
	padding: 10px 0;
	float: center;
}
hr{
	width: 100%;
	color: #567;
}
#listCon {
	overflow: hidden;
}
.fenList {
	color: #FFF;
	font-size: 14px;
	line-height: 200%;
	/*width: 200px;*/
	text-align: center;
	width: 200px;
	margin: 30px;
	float: left;
}
.fenList h2{
	font-size: 20px;
}
.fenList li{
	list-style: none;
}
.contant {
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: relative;
}
#contant p {
	color: #FFF;
	margin-bottom: 20px;

}
/*index.html结束*/

/*blog.html开始*/
#cont_left{
	width: 600px;
	/*background: #fff;*/
	margin-left: 160px;
}
.content{
	position: relative;
}
aside {
	width: 48px;
	height: 70px;
	position: absolute;
	padding-left: 112px;
}
#a1 {
	top: 40px;
	/*left: 112px;*/
}
#a2{
	top: 400px;
	/*left: 112px;*/
}
#a3 {
	top: 750px;
	/*left: 112px;*/
}
aside .asiCon{
	background-color: rgba(143, 27, 148, 1);
	text-align: center;
	line-height: 35px;
	height: 35px;
}
aside #bottom{
	background-color: rgba(143, 27, 148, 0.5);
}
article {
	padding: 14px;
	margin-bottom: 20px;
	background: #fff;
}
article h1{
	font-size: 20px;
	color: #812422;

}
article h2{
	padding: 10px 0;
	font-size: 16px;
	color: #666;
}
article h3{
	padding-top: 10px;
	font-size: 16px;
	color: #777;
	margin-left: 300px;
}
article p{
	color: #000;
	font-size: 14px;
	line-height: 150%;
}


